@font-face {
	font-family: 'GothamPro';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../fonts/GothamProRegular.eot');
	src: url('../fonts/GothamProRegular.woff') format('woff'), url('../fonts/GothamProRegular.ttf') format('truetype'), url('../fonts/GothamProRegular.svg') format('svg');
}
@font-face {
	font-family: 'GothamPro';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../fonts/GothamProMedium.eot');
	src: url('../fonts/GothamProMedium.woff') format('woff'), url('../fonts/GothamProMedium.ttf') format('truetype'), url('../fonts/GothamProMedium.svg') format('svg');
}
@font-face {
	font-family: 'GothamPro';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../fonts/GothamProBold.eot');
	src: url('../fonts/GothamProBold.woff') format('woff'), url('../fonts/GothamProBold.ttf') format('truetype'), url('../fonts/GothamProBold.svg') format('svg');
}