@media screen and (min-width:1310px) {
	.section-btn:hover {
		background-color: $ternary-text-color;
		color: $primary-text-color;
		border-color: transparent;
		transform: translate(0, -3px);
		box-shadow: $section-btn-shadow;
	}
	.btn:hover {
		transform: translate(0, -3px);
		box-shadow: $btn-active-glow;
	}
	.on-map-btn:hover {
		background-color: $quaternary-text-color;
		color: $primary-text-color;
		border-color: transparent;
		box-shadow: $section-btn-shadow;
	}
	.sidebar-btn:hover {
		.sidebar-svg {
			fill: $primary-text-color;
		}
		&::before, &::after {
			opacity: 1;
			pointer-events: all;
		}
	}
	.search-btn, .clear-btn {
		&:hover {
			.search-svg {
				fill: #ccc;
			}
		}
	}
	.advanced-search-btn:hover {
		background-color: transparentize($primary-text-color, 0.2);
		&::before, &::after {
			border-color: transparentize($primary-text-color, 0.2);
		}
	}
	.advanced-search-close-btn:hover {
		background-color: transparentize($primary-text-color, 0.2);
		&::after, &::before {
			background-color: $ternary-text-color;
		}
	}
	.call-order-button:hover {
		&::before {
			box-shadow: $active-glow;
		}
	}
	.main-slider-controls__item {
		&_left-arrow, &_right-arrow {
			&:hover {
				&::after {
					border-color: $primary-text-color;
				}
			}
		}
	}	
	.site-sections__link:hover {
		background-color: transparentize($primary-text-color,0.1);
		color: $ternary-text-color;
		.site-sections__svg {
			fill: url(#linear-gradient);
		}
	}
	.services__link:hover {
		background-color: transparentize($primary-text-color,0.1);
		color: $ternary-text-color;
		.services__svg {
			fill: url(#linear-gradient);
		}
	}
	.new-offers__favorites-btn:hover {
		color: $primary-text-color;
		&::before {
			opacity: 1;
		}
		.new-offers__svg {
			fill: $primary-text-color;
		}
	}
	.slider__controls {
		&_left-arrow, &_right-arrow {
			&:hover {
				&::after {
					border-color: $primary-text-color;
				}
				&::before {
					opacity: 1;
				}
			}
		}
	}
	.footer-navigation__item:hover {
		&::after {
			width: 102%;
		}
	}
	.popup-close-btn:hover {
		background-color: transparentize($secondary-text-color, 0.5);
		&::before, &::after {
			background-color: $ternary-text-color;
		}
	}
	.drop-down__item:hover {
		.drop-down__btn {
			color: $contrast-color-2;
			&::after {
				transform: rotateX(180deg);
			}
		}
	}
	.drop-down__link:hover {
		color: $contrast-color-2;
		.drop-down {
			&__svg {
				fill: url(#linear-gradient);
			}
		}
	}
	.submit-btn:hover {
		transform: translate(0, -3px);
		box-shadow: $btn-active-glow;
	}
	.checkboxes__label:hover {
		background-color: $quaternary-text-color;
		color: $primary-text-color;
		border-color: transparent;
	}
	.input-clear-btn:hover {
		.input-clear-svg {
			fill: #ccc;
		}
	}
	.on-map-btn, .filters-submit-btn {
		&:hover {
			transform: translate(0, -3px);
		}
	}
	.filters-submit-btn:hover {
		box-shadow: $btn-active-glow;
	}			
	.offers.type-blocks {
		.offers__favorites-btn:hover {
			color: $primary-text-color;
			&::before {
				opacity: 1;
			}
			.offers__svg {
				fill: $primary-text-color;
			}
		}
	}
	.offers.type-lines {
		.offers__favorites-btn:hover {
			color: $primary-text-color;
			&::before {
				opacity: 1;
			}
			.offers__svg {
				fill: $primary-text-color;
			}
		}
		.offers__phone-btn {
			&:hover {
				transform: translate(0, -3px);
				box-shadow: $btn-active-glow;
			}
		}
		.offers__link {
			&:hover {
				&::after {
					transform: scale(1);
				}
				.offers__link-svg-fill {
					fill: $primary-text-color;
				}
			}
		}
	}
	.pages__btn:hover {
		color: $primary-text-color;
		background-color: $quaternary-text-color;
	}
	.pages__link:hover {
		color: $primary-text-color;
		background-color: $quaternary-text-color;
	}
	.map-draw-btn:hover {
		transform: translate(0, -3px);
		box-shadow: $btn-active-glow;
	}
	.type-of-property__label:hover {
		color: $primary-text-color;
		&::after {
			opacity: 1;
		}
	} 
	.object {
		&__phone-btn {
			&:hover {
				transform: translate(0, -3px);
				box-shadow: $btn-active-glow;
			}
		}
		&__order-btn, &__manager-email-btn, &__manager-whats-app-btn {
			&:hover {
				transform: translate(0, -3px);
				background-color: $quaternary-text-color;
				color: $primary-text-color;
				border-color: transparent;
				box-shadow: $section-btn-shadow;
			}
		}
	}
	.object__in-favorites-btn:hover {
		color: $primary-text-color;
		&::before {
			opacity: 1;
		}
		.object__svg-fill {
			fill: $primary-text-color;
		}
	}
	.menu__link:hover {
		&::after {
			width: 102%;
		}
	}
	.anchor-links__link:hover {
		background-color: $quaternary-text-color;
		color: $primary-text-color;
	}
	.menu__drop-down-item:hover {
		.menu__link{
			&::after {
				width: 102%;
			}
		}
	}
	.service-categories__read-more-btn:hover {
		transform: translate(0, -3px);
		box-shadow: $btn-active-glow;
	}
	.service__order-btn:hover {
		transform: translate(0, -3px);
		box-shadow: $btn-active-glow;
	}
	.articles__read-more-btn:hover {
		color: $contrast-color-2;
	}
}
@media screen and (max-width:1310px) {
	header, footer {
		padding-left: 70px;
	}
	section {
		margin-left: 70px;
	}
	.section-btn {
		height: 50px;
		line-height: 50px;
		font-size: 14px;
		padding: 0 45px;
	}
	.section-img {
		width: 100%;
	}
	.container {
		width: 628px;
	}
	.section-header {
		.container {
			min-height: 570px;
		}
	}
	.advanced-search-container {
		width: 628px;
	}
	.advanced-search-btn {
		left: 460px;
	}
	.less-filters-wrapper {
		padding: 0;
		flex-direction: column;
		align-items: flex-start;
		height: auto;
		> div {
			padding: 10px 20px;
		}
		> .select {
			padding: 0 20px;
			margin: 10px 0;
			width: 100%;
		}
	}
	.adress {
		height: auto;
	}
	.more-filters-btn {
		margin: 10px auto;
	}
	.slide-down-wrapper {
		top: 100%;
	}
	.filters-hl {
		width: 100%;
		height: 1px;
	}
	.more-filters-wrapper {
		padding-top: 30px;
	}
	.form-row {
		max-width: 598px;
		height: auto;
		display: table-row;
	}
	.form-label {
		display: table-cell;
		vertical-align: top;
    	padding: 11px 0 0 0;
	}
	.inputs-wrapper {
		width: 120px;
		height: 40px;
		margin: 2px 0;
		&__item {
			height: 20px;
			line-height: 20px;
			font-size: 12px;
		}
		&::after {
			height: 20px;
			left: 55px;
		}
	}
	.checkboxes {
		flex-wrap: wrap;
		padding: 2px 0 0 0;
		&__label {
			line-height: 40px;
			height: 40px;
			font-size: 12px;
			padding: 0 30px;
			margin: 0 0 2px;
		}
	}
	.form-input {
		height: 40px;
		padding: 10px 15px;
		font-size: 12px;
		line-height: 20px;
		margin: 2px 0 0 0;
	}
	.btns-wrapper {
		width: 450px;
	}
	.on-map-btn, .filters-submit-btn {
		height: 40px;
		line-height: 40px;
		font-size: 12px;
		padding: 0 35px;
	}
	.main-title {
		font-size: 54px;
		line-height: 54px;
	}
	.main-subtitle {
		font-size: 20px;
		line-height: 20px;
	}
	.main-slider-controls {
		left: 70px;
		width: 598px;
	}
	.btn {
		height: 50px;
		font-size: 14px;
		line-height: 50px;
		padding: 0 45px;
	}
	.main-slider__content {
		height: 335px;
	}
	.main-slider__item {
		padding-left: 70px;
	}
	.sidebar {
		justify-content: flex-start;
	}
	.sidebar-navigation {
		padding-top: 98px;
		padding-bottom: 0px;
	}
	.menu-container {
		padding-left: 70px;
	}
	.menu {
		padding-top: 0;
		margin-top: 30px;
		width: 628px;
		max-height: 80vh;
		&__title {
		    line-height: 26px;
		    padding-bottom: 20px;
		}
		&__services-wrapper {
			flex-direction: column;
		}
		&__services-left-part, &__services-right-part {
			width: 100%;
		}
	}
	.phone-wrapper {
		box-sizing: border-box;
		width: 628px;
		margin: 0 auto;
		padding: 30px 15px 0;
		text-align: left;
	}
	.phone-number {
		display: inline-block;
	}
	.call-order-button {
		margin: 0 0 0 57px;
	}
	.search-form {
		width: 250px;
	}
	.logo-text-part {
		margin-left: 40px;
		&::before {
			left: -21px;
		}
	}
	.site-sections {
		transition: 0s;
		&__link {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
		}
		&__svg-wrapper {
			margin: 10px 0 5px 0;
		}
		&__heading {
			margin: 0;
			text-align: center;
			max-width: 100px;
		}
	}
	.services {
		transition: 0s;
		&__link {
			flex-direction: column;
			justify-content: flex-start;
			align-items: space-between;
			padding: 5px 0 0 0;
		}
		&__heading {
			margin: 2px 0 0 0;
			font-size: 10px;
			text-align: center;
			max-width: 80px;
		}
		&__item_fill .services__link {
			padding: 8px 0 0 0;
		}
	}
	.new-articles {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		.new-articles__item:last-of-type {
			margin-bottom: 0;
		}
		&__item {
			width: 100%;
			height: 200px;
			margin-bottom: 30px;
		}
		&__link {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
		}
		&__img-wrapper {
			width: 248px;
			height: 100%;
		}
		&__text-wrapper {
			width: 350px;
			box-sizing: border-box;
		}
	}
	.new-offers-wrapper {
		margin-bottom: 20px;
	}
	.new-offers{
		&__slide {
			align-items: stretch;
		}
		&__slider-wrapper {
			width: 100%;
			height: 200px;
		}
		&__item {
			width: 285px !important;
			height: auto;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}
		&__text-wrapper {
			border-radius: 0 0 15px 15px;
			width: 100%;
			min-height: 250px;
			border-left: 1px solid $ternary-bg-color;
			border-top: none;
		}
		&__img-slide {
			height: 200px;
		}
		&__primary-slider-controls {
			top: 100%;
		}
		&__primary-slider-arrow {
			top: 20px;
			&_left{
				left: auto;
				right: 55px;
			}
			&_right{
				right: 0;
			}
		}
	}
	.col-2 {
		width: 290px;
	}
	.slider {
		height: auto;
		&__item {
			height: auto;
			padding: 20px;
		}
		&__info {
			font-size: 12px;
			line-height: 16px;
		}
	}
	.footer {
		.container {
			flex-direction: column;
			justify-content: flex-start;
			align-items: stretch;
		}
	}
	.footer-left-part {
		margin: 0 0 30px;
		position: relative;
	}
	.footer-phone-wrapper {
		position: absolute;
		top: 5px;
		right: 0;
		width: 190px;
		text-align: right;
		.call-order-button {
			margin: 0 0 0 30px;
		}
	}
	.footer-incentive {
		max-width: 100%;
		margin: 0;
	}
	.footer-navigation {
		width: 450px;
		margin: 0 0 30px;
	}
	.footer-info {
		width: auto;
		text-align: left;
	}
	.footer-copyright {
		text-align: left;
	}
	.order-call-form {
		width: 500px;
	}
	.submit-btn {
		line-height: 50px;
		height: 50px;
		font-size: 14px;
		padding: 0 45px;
	}
	.section-header.secondary-page {
		width: auto;
	}
	.drop-down {
		display: none;
	}
	.offers-wrapper {
		padding-top: 80px;
	}
	.type-of-offers {
		top: 0;
		left: 0;
		right: auto;
	}
	.offers.type-blocks {
		.offers__item {
			width: 284px;
			margin-right: 30px;
		}
		.offers__specifications::before {
			width: 284px;
		}
		.offers__item:nth-last-of-type(n+5) {
			margin-bottom: 0;
		}
		.offers__item:nth-last-of-type(2n+1) {
			margin-right: 0;
		}
		.offers__item:nth-last-of-type(n+3) {
			margin-bottom: 30px;
		}
	}
	.offers.type-lines{
		.offers__item:nth-last-of-type(n+2) {
			margin-bottom: 50px;
		}
		.offers__item {
			flex-direction: column;
			height: auto;
		}
		.offers__wrapper {
		    border-radius: 0 0 15px 15px;
		    border-left: 1px solid $ternary-bg-color;
		    border-top: none;
		}
		.offers__img-slide {
		    height: 200px;
		}
		.offers__title {
			font-size: 16px;
			line-height: 16px;
			margin: 0 0 10px;
		}
		.offers__station-adress {
			font-size: 10px;
			line-height: 10px;
			margin: 0 0 10px;
		}
		.offers__description {
			max-height: 100%;
		}
		.offers__additional-information {
			right: 30px;
			left: auto;
			font-size: 10px;
			line-height: 10px;
		}
		.offers__post-date {
		    margin: 0 0 0 40px;
		}
		.offers__price {
			font-size: 16px;
			line-height: 16px;
			margin: 0 0 5px;
		}
		.offers__price-per-square-meter {
			font-size: 12px;
			line-height: 12px;
		}
		.offers__specifications-title {
			font-size: 10px;
		}
		.offers__specifications-info {
			font-size: 14px;
		}
		.offers__phone-btn {
			height: 40px;
			font-size: 12px;
			padding: 0 20px;
			line-height: 40px;
		}
		.offers__phone-number {
			top: 5px;
			left: 9px;
		}
		.offers__link {
			height: 40px;
			width: 40px;
		}
		.offers__link-svg {
			top: 13px;
			left: 11px;
		}
		.offers__slider-wrapper {
			height: 200px;
			width: 100%;
		}
		.offers__wrapper {
			width: 100%;
		}
		.offers__text-wrapper {
		    width: 330px;
		}
		.offers__information-wrapper {
			width: 200px;
		}
		.offers__specifications {
		    margin: 0 0 22px;
		}
	}
	.pages {
		width: 100%;
		&__list-item {
			margin: 0 2px 0;
		}
		&__btn {
			font-size: 10px;
			padding: 0 15px;
		}
	}
	.contacts{
		flex-wrap: wrap;
		justify-content: space-between;
		&__item {
			width: 47.5%;
			margin: 0;
			&:nth-last-of-type(n+3) {
				margin-bottom: 30px;
			}
		}
	}
	.additional-contacts-wrapper {
		flex-direction: column;
	}
	.form-wrapper {
		width: 100%;
	}
	.map-wrapper {
		width: 100%;
		height: 416px;
	}
	.contact-form {
		.submit-btn {
			margin-left: 185px;
		}
	}
	.map-draw-btn {
		line-height: 40px;
		height: 40px;
		font-size: 12px;
	}
	.articles {
		> :last-child {
			margin-bottom: 0;
		}
		&__item {
			height: auto;
			width: 100%;
			display: flex;
			margin-right: 0;
			margin-bottom: 30px;
			&:nth-last-of-type(n+4) {
				margin-bottom: 30px;
			}
		}
		&__img-wrapper {
			width: 40%;
    		height: 205px;
		}
		&__content-wrapper {
			width: 60%;
		}
	}
	.article__img-slider-item {
		height: 200px;
	}
	.object__slider-item {
		height: 200px;
	}
	.object__wrapper {
		flex-direction: column;
		.object__subwrapper:nth-of-type(1) {
			flex-direction: row;
			justify-content: space-between;
			align-items: stretch;
			margin-bottom: 30px;
		}
	}
	.object__specifications {
		margin-bottom: 0;
	}
	.object__features {
		margin-right: 0;
	}
	.object__form-wrapper {
		width: 100%;
	}
	.object__map-wrapper {
		height: 300px;
		width: 100%;
	}
	.object__contacts-wrapper {
		flex-direction: column;
	}
	.object__manager {
		width: 100%;
	}
	.service-categories__item {
		flex-direction: column;
		&:nth-of-type(even) {
			flex-direction: column;
		}
	}
	.service-categories__image-wrapper {
		width: 100%;
		height: 250px;
	}
	.service-categories__content-wrapper {
		padding-left: 0;
		width: 100%;
	}
	.service-categories__read-more-btn, .service__order-btn {
		line-height: 40px;
		font-size: 12px;
		padding: 0 35px;
		height: 40px;
	}
	.service__img-wrapper {
		width: 280px;
    	height: 200px;
	}
	.form-input.w100, .form-textarea, .form-map {
		width: 430px;
		margin: 0 0 10px;
	}
	.form-map {
		margin-left: 0;
	}
	.input-clear-btn {
		display: none;
	}
	.inputs-wrapper.only-one-input {
		display: inline-block;
	}
	.section-add-object .form-row {
		padding: 0;
	}
	.select.form-select {
		margin: 0 0 10px;
	}
	.add-object-form {
		.form-textarea:last-of-type {
			margin-bottom: 0;
		}
	}
}
@media screen and (max-width:700px) {
	.header-row>.phone-wrapper {
		display: none;
	}
	header, footer {
		padding-left: 0px;
	}
	section {
		margin-left: 0px;
		.container {
			padding-top: 8.6vw;
			padding-bottom: 8.6vw;
		}
	}
	body.fixed-header section:first-of-type {
		padding-top: 140px;
		margin-top: 0;
	}
	.container {
		width: 100vw;
		padding-right: 3vw;
		padding-left: 3vw;
	}
	.advanced-search {
		margin-bottom: -50px;
	}
	.advanced-search-container {
	    width: 100vw;
	    padding: 3vw 3vw 0;
	    .slide-down-wrapper {
    	    transform: translate(0px, -35.5vw);
	    }
	}
	.slide-down-wrapper .btns-wrapper {
		margin-top: 5.3vw;
	}
	.less-filters-wrapper {
		margin-bottom: 35.5vw;
	}
	.btns-wrapper {
	    width: 100%;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	}
	.advanced-search-close-btn {
		top: auto;
		right: 3vw;
		width: 10vw;
		height: 10vw;
		bottom: 22vw;
		z-index: 17;
		background: none;
		border-radius: 0;
		&::after, &::before {
		    width: 6vw;
		    height: 0.4vw;
		    position: absolute;
		    top: 4.8vw;
		    left: 2.2vw;
		}
	}
	.on-map-btn {
		margin-bottom: 4vw;
	}
	.on-map-btn, .filters-submit-btn {
	    height: 10.5vw;
	    line-height: 10.5vw;
	    font-size: 3vw;
	    padding: 0 9.2vw;
	    border-radius: 5.5vw;
	}
	.advanced-search-btn {
	    left: 67vw;
	    font-size: 1.7vw;
	    line-height: 3vw;
	    padding: 0 0.7vw;
	    &::before, &::after {
			width: auto;
			height: auto;
			border-width: 1.5vw;
	    }
	}
	.less-filters-wrapper {
		.select {
			padding: 0 5.2vw;
			margin: 2.6vw 0;
			&__label {
				padding: 0 8.6vw 0 0;
				height: 7.9vw;
				font-size: 3.7vw;
				line-height: 4.2vw;
			}
			&__list {
				padding: 2.6vw 4.7vw;
				top: 7.9vw;
			}
			&__list-item {
				font-size: 3.7vw;
				margin: 2.6vw 0;
			}
			&__label-svg {
			    top: 2.8vw;
			    width: 3vw;
			    height: 1.8vw;
			}
		}
		> div {
			padding: 2.6vw 5.2vw;
		}
	}
	.property-price {
		span {
			font-size: 3.7vw;
			line-height: 4.2vw;
		}
		input {
			font-size: 3.7vw;
			line-height: 4.2vw;
			width: 24vw;
			height: 7.9vw;
		}
		input[name="property-price-min"] {
			margin-right: 10.5vw;
		}
		&::before {
			left: 29vw;
		}
	}
	.adress {
		&__label {
			font-size: 3vw;
		}
		&__input {
		    width: 47.5vw;
		    font-size: 4.2vw;
		    line-height: 4.8vw;
		}
		&__map-btn {
			font-size: 3vw;
			line-height: 3.7vw;
		}
	}
	.more-filters-btn {
	    margin: 2.6vw auto;
	    width: 36vw;
	    height: 7.9vw;
	    font-size: 3.7vw;
		line-height: 4.2vw;
		padding: 0 8.6vw 0 0;
		&__svg {
		    top: 2.8vw;
		    width: 3vw;
		    height: 1.8vw;
		}
	}
	.menu-container {
		padding-left: 0;
	}
	.phone-wrapper {
		display: flex;
		justify-content: space-between;
	    width: 100%;
	    padding: 18px 15px 0 47px;
	}
	.phone-number {
		font-size: 14px;
		line-height: 14px;
	}
	.menu {
		margin-top: 3vw;
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
		&__title {
			font-size: 3vw;
			line-height: 3.7vw;
			padding-bottom: 3vw;
			padding: 0 0 1.4vw;
		}
		&__list {
			padding: 3vw 0;
		}
		&__link {
			font-size: 2.6vw;
			line-height: 4.3vw;
		}
		&__services-wrapper {
			padding-top: 2vw;
		}
		&__drop-down-title {
			padding: 1.7vw 0 0;
		}
		&__drop-down-btn {
			font-size: 2.6vw;
			padding: 0 2.1vw 0 0;
			&::after {
				width: 1.42vw;
				height: 1.14vw;
				border-top-width: 1.14vw;
				border-left-width: 0.71vw;
				border-right-width: 0.71vw;
				top: 1vw;
			}
		}
		&__drop-down {
		    padding: 1.4vw 0 0 4vw; 
		}
		&__drop-down-item {
		    margin: 1.4vw 0;
		    .menu__link {
				font-size: 2vw;
		    	line-height: 2.5vw;
		    	&::before {
		    		width: 0.85vw;
		    		height: 0.85vw;
		    		top: 0.7vw;
		    		left: -2vw;
		    	}
		    }
		}
	}
	.call-order-button {
	    margin: 0;
	    font-size: 10px;
	    line-height: 10px;
	    padding-left: 11px;
	    &::before {
	    	width: 7px;
	    	height: 7px;
	    	top: 3px;
	    }
	}
	.sidebar-substrate {
		width: 100vw;
		height: 50px;
		z-index: 21;
	}
	.sidebar {
		width: 100vw;
		min-height: 50px;
		flex-direction: row;
	}
	.sidebar-navigation {
		display: flex;
		padding-top: 0;
		padding-left: 30vw;
	}
	.sidebar-btn {
		width: 50px;
		height: 50px;
		margin-bottom: 0;
	}
	.sidebar-menu-btn {
		width: 50px;
		height: 50px;
		position: fixed;
		top: 0;
		left: 0;
	}
	.hamburger {
		width: 20px;
		&::before, &::after {
			width: 20px;
		}
		&::before {
			top: -6px;
		}
		&::after {
			bottom: -6px;
		}
		&.active {
			&::before {
				transform: translate(0, 6px) rotate(135deg);
			}
			&::after {
				transform: translate(0, -6px) rotate(225deg);
			}
		}
	}
	.sidebar-svg-wrapper {
		svg {
			width: 20px;
			height: 20px;
		}
		&.notice::before {
			width: 10px;
			height: 10px;
			top: 14px;
    		right: 11px;
		}
	}
	.section-header {
		margin: 50px 0 0 0;
		&::before {
			content: none;
		}
	}
	.logo-link {
		height: 6vw;
	} 
	.logo {
		width: 20vw;
		height: 6vw;
	}
	.logo-text-part {
		width: 17.4vw;
		margin-left: 5.7vw;
		font-size: 2vw;
		line-height: 1.2;
		padding-top: 0.6vw;
		&::before {
			top: -1vw;
			bottom: -1.6vw;
			margin: auto;
			left: -3vw;
			height: 6vw;
		}
	}
	.search-form {
		width: 40vw;
		height: 6vw;
		padding: 0.85vw 1.5vw;
		border-radius: 3vw;
	}
	.search-btn, .clear-btn {
		width: 4vw;
		height: 4vw;
		svg {
			width: 2.4vw;
			height: 2.4vw;
		}
	}
	.search-input {
		max-width: 32vw;
		height: 4vw;
		font-size: 2.3vw;
		line-height: 2.4vw;
		padding: 0 1.28vw;
	}
	.section-header .container {
	    min-height: 81.42vw;
	}
	body.fixed-header header {
		margin: 50px 0 0 0;
	}
	.section-header.secondary-page .container {
		min-height: 13vw;
	}
	.main-slider__item {
	    padding: 12.85vw 0 20.71vw;
	}
	.main-slider-controls {
		left: 15px;
		right: 15px;
		width: auto;
	}
	.main-slider__content {
		padding: 14vw 0 11.5vw;
		height: 50vw;
	}
	.main-title {
		font-size: 8.5vw;
		line-height: 1.2;
	}
	.main-subtitle {
		font-size: 3vw;
		line-height: 3vw;
	}
	.btn {
		height: 7.14vw;
		font-size: 2vw;
		line-height: 7.14vw;
		padding: 0 9vw;
		border-radius: 4vw;
	}
	.site-sections-wrapper {
		height: 12.14vw;
		margin: 0 0 8.5vw;
		border-radius: 2.2vw;
	}
	.site-sections {
		&__link {
			font-size: 1.85vw;
			line-height: 2.28vw;
		}
		&__svg-wrapper {
			margin: 1.42vw 0 0.71vw 0;
			width: 4.6vw;
			height: 4.6vw;
			svg {
				width: 4.6vw;
				height: 4.6vw;
			}
		}
		&__heading {
			max-width: 14.3vw;
		}
	}
	.site-sections__item_fill::after {
		top: 5.3vw;
		right: 1.4vw;
		width: 1.4vw;
		height: 1.4vw;
		border-top-width: 0.3vw;
		border-right-width: 0.3vw;
	}
	.site-sections.clipped {
	    clip: rect(0, 0, 0, 0);
	}
	.services {
		border-radius: 2.2vw;
		&__item {
			&_fill {
				&::before {
					top: 5.3vw;
					left: 1.4vw;
					width: 1.4vw;
					height: 1.4vw;
					border-top-width: 0.3vw;
					border-right-width: 0.3vw;
				}
			}
		}
		&__link {
			padding: 1vw 0 0 0;
			font-size: 1.85vw;
			line-height: 2.28vw;
		}
		&__svg-wrapper {
			width: 3.4vw;
			height: 3.4vw;
			svg {
				width: 3.4vw;
				height: 3.4vw;
			}
		}
		&__heading {
			font-size: 1.43vw;
			line-height: 2vw;
			max-width: 11.4vw;
		}
	}
	.new-articles {
		&__item {
			height: 30vw;
			margin-bottom: 4.3vw;
			border-radius: 2.1vw;
		}
		&__img-wrapper {
			width: 35.5vw;
		}
		&__text-wrapper {
			width: 60.2vw;
			padding: 3vw 4.3vw 4.3vw;
		}
		&__date {
			font-size: 1.43vw;
			line-height: 1.43vw;
			margin: 0 0 2vw;
		}
		&__title {
			font-size: 3vw;
			line-height: 3.3vw;
			margin: 0 0 2vw;
		}
		&__info {
			font-size: 1.7vw;
			line-height: 2vw;
		}
	}
	.section-btns-wrapper {
		padding-top: 7.2vw;
	}
	.section-btn {
		font-size: 2vw;
		height: 7.2vw;
		line-height: 7.2vw;
		padding: 0 6.4vw;
	}
	.section-title {
		font-size: 5.2vw;
		margin-bottom: 7.4vw;
		line-height: 6.3vw;
		max-width: 85vw;
	}
	.new-offers-wrapper {
		margin-bottom: 3vw;
	}
	.new-offers {
		&__item {
			width: 45.7vw !important;
			border-radius: 2.1vw;
		}
		&__slider-wrapper, &__img-slide {
			height: 28.6vw;
		}
		&__primary-slider-arrow {
		    top: 4vw;
		    width: 8vw;
		    height: 8vw;
		    &::after {
		    	top: 3vw;
		    	width: 2.2vw;
		    	height: 2.2vw;
		    	border-width: 0.6vw;
		    	border-radius: 0.4vw;
		    }
		    &_left {
				right: 11vw;
				&::after {
					left: 3.2vw;
				}
		    }
		    &_right {
		    	&::after {
					right: 3.2vw;
		    	}
		    }
		}
		&__favorites-btn {
			font-size: 2vw;
			line-height: 2vw;
			border-radius: 0.7vw;
			height: 4.3vw;
			padding: 1.3vw 1.4vw;
			top: 1.4vw;
			left: 1.4vw;
			&::before {
				border-radius: 0.7vw;
			}
			svg {
				width: 2.28vw;
				height: 1.85vw;
			}
		}
		&__favorites-btn-text {
			margin-left: 1.4vw;
		}
		&__text-wrapper {
			border-radius: 0 0 2.1vw 2.1vw;
			min-height: 36vw;
			padding: 4vw 5vw;
		}
		&__title {
			font-size: 2.55vw;	
			line-height: 2.55vw;
			margin: 0 0 1.7vw;
		}
		&__station {
			font-size: 1.7vw;
			line-height: 1.7vw;
			padding-left: 3.3vw;
			margin: 0 0 1.6vw;
			&::before {
				width: 2.55vw;
				height: 2.55vw;
				top: -0.55vw;
			}
		}
		&__adress {
			font-size: 1.7vw;
			line-height: 2.1vw;
		}
		&__price {
			font-size: 3vw;
			line-height: 3vw;
			&-here {
				&::after {
					width: 1.14vw;
					height: 1.71vw;
					bottom: 0.57vw;
					right: -4.3vw;
				}
			}
		}
		&__price-per-square-meter {
			font-size: 2vw;
			line-height: 2vw;
			sup {
				font-size: 1.43vw;
			}
		}
		&__additional-information {
			font-size: 1.7vw;
			line-height: 1.7vw;
			padding-top: 1.7vw;
		}
	}
	.col-2 {
		width: 46.5vw;
	}
	.section-text {
		font-size: 2.6vw;
		line-height: 3.4vw;
		margin: 0 0 7.1vw;
	}
	.section-image{
		margin: 0 0 7.1vw;
	}
	.section-info {
		font-size: 2vw;
		line-height: 2.6vw;
		margin: 0 0 7.1vw;
	}
	.slider-title {
		font-size: 2.6vw;
		line-height: 2.6vw;
		margin: 0 0 7.1vw;
	}
	.slider {
		&__item {
			width: 28.57vw;
			padding: 3vw;
			margin: 0 1.4vw;
			border-radius: 2vw;
		}
		&__icon-wrapper {
			width: 4.6vw;
			height: 4.6vw;
			margin: 0 0 2vw;
			svg {
				width: 4.6vw;
				height: 4.6vw;
			}
		}
		&__info {
			font-size: 1.7vw;
			line-height: 2.3vw;
		}
		&__controls {
			margin-top: 5vw;
			width: 18vw;
    		height: 8vw;
			&_left-arrow, &_right-arrow {
			    width: 8vw;
			    height: 8vw;
			    border-radius: 4vw;
			    &::before {
					content: none;
			    }
			    &::after {
					top: 3vw;
				    width: 2vw;
				    height: 2vw;
				    border-width: 0.4vw;
			    }
			}
			&_left-arrow::after {
				left: 3.2vw;
			}
			&_right-arrow::after {
				right: 3.2vw;
			}
			&::before {
				right: 22.4vw;
    			top: 4vw;
			}
		}
	}
	.section-articles .container {
	    padding: 5vw 3vw 12vw;
	}
	.breadcrumbs {
		margin: 0 0 7vw;
		&__item {
			padding-left: 3vw;
			&_this-page {
				font-size: 2.6vw;
			}
			&::before {
				font-size: 2.6vw;
				left: 0.8vw;
				top: 0.2vw;
			}
		}
		&__link {
			font-size: 2.6vw;
		}
	}
	.page-title {
	    font-size: 5vw;
	    line-height: 5vw;
	    margin: 0 0 4vw;
	}
	.sort-wrapper .page-subtitle {
	    padding-right: 4vw;
	}
	.page-subtitle {
	    font-size: 2.6vw;
	    margin: 0 0 8vw;
	}
	.select.sort-select {
	    top: -2.6vw;
	    height: 8vw;
	    width: 32vw;
	    padding: 0 4vw;
	    border-radius: 1vw;
	    .select {
		    &__label {
			    font-size: 2.6vw;
			    padding: 0 5.2vw 0 0;
			    height: 100%;
			}
			&__label-svg {
				top: 3.2vw;
				width: 2vw;
				height: 1.2vw;
			}
			&__list {
			    padding: 1vw 4vw;
			    top: 7vw;
			    border-radius: 0 0 1vw 1vw; 
			}
			&__list-item {
			    font-size: 2.6vw;
			}
		}
	}
	.select {
		min-width: 36vw;
		&__label {
			font-size: 2.8vw;
			line-height: 3.2vw;
		}
		&__list-item {
			margin: 2vw 0;
		}
	}
	.articles {
		> :last-child {
			margin-bottom: 0;
		}
		&__item{
			flex-direction: column;
			margin-bottom: 6vw;
			&:nth-last-of-type(n+4) {
			    margin-bottom: 6vw;
			}
		}
		&__img-wrapper {
			width: 100%;
			height: 43vw;
		}
		&__label {
			font-size: 2.6vw;
		    line-height: 3vw;
		    border-radius: 1vw;
		    top: 2vw;
		    left: 2vw;
		    padding: 2vw;
		}
		&__content-wrapper {
			width: 100%;
			height: 48vw;
    		padding: 4vw 4vw 6vw;
		}
		&__additional-information {
		    font-size: 2.6vw;
		    margin: 0 0 4vw;
		}
		&__tags-item {
		    margin: 0 2.6vw 0 0;
		    font-size: 2.6vw;
		    &::after {
		    	right: -1.6vw;
		    }
		}
		&__title {
		    font-size: 4.6vw;
		    line-height: 4.8vw;
		    margin: 0 0 4vw;
		}
		&__description {
		    font-size: 3vw;
		    line-height: 4vw;
		}
		&__read-more-btn {
		    font-size: 3.6vw; 
		}
	}
	.section-add-object .container {
	    padding-top: 0px;
	}
	.form-input.w100, .form-textarea, .form-map {
	    width: 100%;
	}
	.inputs-wrapper {
	    margin: 6px 0;
	}
	.checkboxes {
		padding-top: 6px;
		&__label {
			margin-bottom: 6px;
		}
	}
	.form-input {
	    margin: 6px 0;
	}
	.article {
		&__title {
		    font-size: 4.8vw;
		    line-height: 5.2vw;
		    margin: 0 0 4vw;
		}
		&__additional-information {
		    font-size: 2.8vw;
		    margin: 0 0 7vw;
		}
		&__tags-item {
		    font-size: 2.8vw;
		    margin: 0 0 0 1vw;
		}
		&__img-slider-wrapper {
		    margin: 0 0 7vw;
		}
		&__img-slider {
		    border-radius: 3vw;
		}
		&__img-slider-item {
		    height: 40vw;
		}
		&__text-wrapper {
		    column-gap: 6vw;
		    padding: 0 0 8vw;
		    margin: 0 0 8vw;
		}
		&__info {
		    font-size: 2.8vw;
		    line-height: 3.6vw;
		    margin: 0 0 3.6vw;
		}
	}
	.section-one-article .page-title {
	    margin: 0 0 7vw;
	}
	.section-contacts .container {
		padding-top: 0;
	}
	.contacts {
	    margin: 6vw 0;
	    &__item{
	    	padding: 6vw;
		    border-radius: 3vw;
	    	&:nth-last-of-type(n+3) {
			    margin-bottom: 6vw;
			}
	    }
	    &__svg-wrapper {
		    width: 4.8vw;
		    height: 4.8vw;
		    margin: 0 0 4vw;
		    svg {
		    	width: 4.8vw;
		    	height: 4.8vw;
		    }
		}
		&__heading {
		    margin: 0 0 3vw;
		    font-size: 3.2vw;
		    line-height: 3.6vw;
		}
		&__info {
		    font-size: 2.8vw;
		    line-height: 3.6vw;
		}
	}
	.contact-form .submit-btn {
	    margin-left: 24vw; 
	}
	.section-map {
	    min-height: 80vw;
	}
	.section-objects .container {
	    padding: 4vw 3vw 7vw;
	}
	.offers.type-blocks {
		.offers{
			&__item {
				height: 75vw;
				width: 45.5vw;
    			margin-right: 3vw;
				&:nth-last-of-type(n+3) {
				    margin-bottom: 3vw;
				}
			}
			&__slider-wrapper {
			    height: 29vw; 
			}
			&__img-slide {
			    height: 29vw; 
			}
			&__favorites-btn {
				font-size: 2vw;
				line-height: 2vw;
			    border-radius: 0.83vw;
			    height: 5vw;
			    padding: 1.5vw 1.6vw;
			    top: 1.6vw;
			    left: 1.6vw;
			    svg {
			    	width: 2.66vw;
			    	height: 2.16vw;
			    }
			}
			&__favorites-btn-text {
			    margin-left: 1.6vw;
			}
			&__wrapper {
			    border-radius: 0 0 3vw 3vw;
			    height: 46vw;
			    padding: 3.3vw;
			}
			&__title {
				font-size: 3vw;
				line-height: 3vw;
			    margin: 0 0 2.5vw;
			    sup {
			    	font-size: 1.6vw;
			    }
			}
			&__adress {
			    font-size: 2vw;
			    line-height: 2.5vw;
			}
			&__specifications {
			    margin: 0 0 2.5vw;
			    padding: 2.5vw 0;
			    &::before {
			    	width: 50vw;
			    	left: -3.3vw;
			    }
			}
			&__specifications-item {
			    margin-right: 1.3vw;
			}
			&__specifications-title {
			    font-size: 2vw;
			    margin-bottom: 0.8vw;
			}
			&__specifications-info {
			    font-size: 2.6vw;
			    line-height: 2.6vw;
			}
			&__price {
			    font-size: 3.3vw;
			    line-height: 3.3vw;
			    margin: 0 0 2.5vw;
			}
			&__price-here::after {
			    width: 1.3vw;
			    height: 2vw;
			    bottom: 0.6vw;
			    right: -5vw;
			}
			&__additional-information {
				font-size: 2vw;
				line-height: 2vw;
			}
		}
	}
	.pages {
		flex-wrap: wrap;
		&__list {
			margin: 4vw auto 0;
			order: 1;
		}
		&__btn {
		    font-size: 2.5vw;
		    padding: 0 3.75vw;
		    border-radius: 3.4vw;
		    height: 6.8vw;
		    line-height: 6.8vw;
		}
		&__list-item {
		    margin: 0 0.5vw 0;
		    width: 6.75vw;
		    height: 6.75vw;
		    &_not-a-link {
			    font-size: 3vw;
			    padding: 1.75vw 0 0;
			}
		}
		&__link {
		    font-size: 3vw;
		    line-height: 100%;
		}
	}
	.section-filters .container {
	    padding: 4vw 3vw 0;
	}
	.slide-down-wrapper::before, .slide-down-wrapper::after {
	    width: 3vw;
	}
	.offers.type-lines {
		.offers {
			&__item {
				border-radius: 3vw;
				&:nth-last-of-type(n+2) {
				    margin-bottom: 10vw;
				}
			}
			&__slider-wrapper {
			    height: 40vw;
			}
			&__img-slide {
			    height: 40vw;
			}
			&__favorites-btn {
			    font-size: 2.6vw;
			    line-height: 2.6vw;
			    border-radius: 1vw;
			    height: 6vw;
			    padding: 1.8vw 2vw;
			    top: 2vw;
			    left: 2vw;
			    svg {
			    	width: 3.2vw;
			    	height: 2.6vw;
			    }
			}
			&__wrapper {
			    border-radius: 0 0 3vw 3vw;
			    padding: 5vw 6vw;
			    flex-direction: column;
			}
			&__text-wrapper {
			    width: 100%;
			    padding: 0;
			}
			&__title {
			    font-size: 4vw;
			    line-height: 4vw;
			    margin: 0 0 3vw;
			}
			&__station-adress {
			    font-size: 2vw;
			    line-height: 2vw;
			    margin: 0 0 3vw;
			    padding-left: 5vw;
			    &::before {
			    	width: 3.6vw;
				    height: 3.6vw;
				    top: -0.8vw;
			    } 
			}
			&__description {
			    font-size: 2.4vw;
			    line-height: 2.8vw;
			    margin: 0 0 3vw;
			}
			&__information-wrapper {
			    width: 100%;
			}
			&__price {
			    font-size: 3.2vw;
			    line-height: 3.2vw;
			    margin: 0 0 1vw;
			}
			&__price-here::after {
			    width: 1.6vw;
			    height: 2.4vw;
			    bottom: 0.8vw;
			    right: -6vw;
			}
			&__price-per-square-meter {
			    font-size: 2.4vw;
			    line-height: 2.4vw;
			    margin: 0 0 3vw;
			}
			&__specifications {
			    margin: 0 0 5vw;
			    padding: 1.6vw 4vw;
			}
			&__specifications-item {
			    margin-right: 1.6vw;
			}
			&__specifications-title {
			    font-size: 2vw;
			    margin-bottom: 1vw;
			}
			&__specifications-info {
			    font-size: 2.8vw;
			    line-height: 3.2vw;
			    sup {
				    font-size: 2vw;
				}
			}
			&__specifications-separator {
			    height: 7vw;
			}
			&__phone-btn {
			    height: 8vw;
			    font-size: 2.4vw;
			    padding: 0 6vw;
			    line-height: 8vw;
			}
			&__phone-number {
			    top: 1vw;
			    left: 3.4vw;
			    width: 28vw;
				height: 6vw;
			}
			&__link {
			    height: 8vw;
			    width: 8vw;
			}
			&__link-svg {
			    top: 2.6vw;
			    left: 2.2vw;
			    width: 3.6vw;
			    height: 2.8vw;
			}
			&__additional-information {
				position: unset;
			    right: 6vw;
			    font-size: 2vw;
			    line-height: 2vw;
			    margin-top: 3vw;
			}
		}
	}
	.anchor-links {
	    margin: 0 0 6vw;
	    &__item {
		    margin: 0 2vw 2vw 0;
		}
		&__link {
		    font-size: 2.6vw;
		    line-height: 3vw;
		    padding: 1.6vw 2vw;
		    border-radius: 1vw;
		}
	}
	.service-categories__item {
	    margin: 0 0 8vw;
	}
	.service-categories__image-wrapper {
	    height: 50vw;
	    border-radius: 3vw;
	}
	.service-categories__content-wrapper {
	    padding: 3.6vw 0 0;
	    height: auto;
	}
	.service-categories__title {
	    font-size: 4.8vw;
	    line-height: 5.2vw;
	    margin: 0 0 4vw;
	}
	.service-categories__description {
	    font-size: 2.8vw;
	    line-height: 3.6vw;
	    margin: 0 0 4vw;
	}
	.service-categories__read-more-btn, .service__order-btn {
	    line-height: 8vw;
	    font-size: 2.4vw;
	    padding: 0 7vw;
	    height: 8vw;
	    border-radius: 4vw;
	}
	.section-one-service .container {
	    padding: 0 3vw 12vw;
	}
	.service__img-wrapper {
	    width: 50vw;
	    height: 40vw;
	    margin: 0 5vw 5vw 0;
	    border-radius: 3vw;
	}
	.service__description {
	    padding: 0;
	    font-size: 2.8vw;
	    line-height: 3.6vw;
	}
	.service__subtitle {
	    font-size: 3.6vw;
	    line-height: 4vw;
	    margin: 6vw 0 5vw;
	    padding: 1vw 0 0;
	}
	.service__conditions {
	    padding: 0 0 0 3.4vw;
	}
	.service__conditions-item, .service__lead-time-item {
	    font-size: 2.8vw;
	    line-height: 3.6vw;
	}
	.service__lead-time {
	    padding: 0 0 0 3.4vw;
	    margin: 0 0 7vw;
	}
	.service__price-title {
	    font-size: 2.8vw;
	    line-height: 3.2vw;
	    margin: 0 0 1vw;
	}
	.service__price {
	    font-size: 4.8vw;
	    line-height: 4.8vw;
	    margin: 0 0 3.6vw;
	}
	.section-one-object .container {
	    padding: 0 3vw 10vw;
	}
	.object {
		&__title {
		    font-size: 4.8vw;
		    line-height: 4.8vw;
		    margin: 0 0 3vw;
		}
		&__id-subtitle {
		    font-size: 2.6vw;
		    margin: 0 0 6vw;
		}
		&__slider-wrapper, &__fullscreen-slider-wrapper {
		    margin: 0 0 8vw;
		}
		&__slider, &__fullscreen-slider {
		    border-radius: 3vw;
		}
		&__slider-item {
		    height: 50vw;
		}
		&__fullscreen-btn, &__fullscreen-close-btn {
		    top: 4vw;
		    right: 4vw;
		    width: 10vw;
		    height: 10vw;
		    border-radius: 50%;
		    background-size: 4.8vw;
		}
		&__fullscreen-close-btn::before, &__fullscreen-close-btn::after {
		    top: 4.8vw;
		    left: 3vw;
		    width: 4vw;
		    height: 0.4vw;
		}
		&__wrapper {
			.object__subwrapper:nth-of-type(1) {
			    margin-bottom: 6vw;
			    flex-direction: column;
			}
		}
		&__specifications {
		    margin-bottom: 6vw;
		    margin-right: 0;
		    width: 100%;
		}
		&__features {
		    width: 100%;
		}
		&__wrapper-title {
		    font-size: 3.6vw;
		    line-height: 4vw;
		    margin: 0 0 4vw;
		}
		&__specifications-list {
		    padding: 0 4vw;
		    margin: 6vw 0 6vw;
		    height: 10.4vw;
		    border-radius: 2vw;
		}
		&__specifications-title {
		    font-size: 2.4vw;
		    margin: 0 0 1.6vw;
		}
		&__specifications-value {
		    font-size: 3.2vw;
		    line-height: 3.2vw;
		    sup {
			    font-size: 2vw;
			}
		}
		&__specifications-item:nth-last-of-type(n+2)::after {
		    right: -10vw;
		}
		&__station-adress {
			font-size: 2.4vw;
			line-height: 2.8vw;
		    margin: 0 0 5.6vw;
		    padding-left: 4.6vw;
		    &::before {
			    width: 3.6vw;
			    height: 3.6vw;
			    top: -0.6vw;
			}
		}
		&__price {
			font-size: 4vw;
			line-height: 4vw;
		    margin: 0 0 0.4vw;
		}
		&__price-here::after {
		    width: 0.4vw;
		    height: 2.4vw;
		    bottom: 0.8vw;
		    right: -6vw;
		}
		&__price-per-square-meter {
			font-size: 2.8vw;
			line-height: 2.8vw;
		    margin: 0 0 5.6vw;
		    sup {
		    	font-size: 2vw;
		    }
		}
		&__phone-btn {
			font-size: 2.8vw;
			line-height: 10vw;
		    border-radius: 5vw;
		    padding: 0 6vw;
		    margin: 0 0 5.6vw;
		    height: 10vw;
		}
		&__phone-number {
		    width: 28vw;
		    height: 6vw;
		    top: 2.2vw;
		    left: 5.4vw;
		}
		&__additional-information {
			font-size: 2.4vw;
			line-height: 2.4vw;
		}
		&__post-date {
		    margin: 0 0 0 4vw;
		}
		&__features {
		    border-radius: 3vw;
		    padding: 6vw;
		    margin: 0 6vw 0 0;
		}
		&__features-label {
		    font-size: 2.8vw;
		    line-height: 4.8vw;
		    margin: 0 1vw 0 0;
		}
		&__features-value {
		    font-size: 2.8vw;
		    line-height: 4.8vw;
		}
		&__subtitle {
		    font-size: 4.8vw;
		    line-height: 4.8vw;
		    margin: 0 0 6vw;
		}
		&__description {
		    font-size: 2.8vw;
		    line-height: 3.6vw;
		}
		&__btns-wrapper {
		    margin: 8vw 0 11vw;
		}
		&__order-btn, &__manager-email-btn, &__manager-whats-app-btn {
			font-size: 2.2vw;
			line-height: 10vw;
		    border-radius: 5vw;
		    padding: 0 8vw;
		    margin: 0 4vw 0 0;
		    height: 10vw;
		}
		&__in-favorites-btn {
		    font-size: 2.6vw;
		    line-height: 2.6vw;
		    border-radius: 1vw;
		    height: 6vw;
		    padding: 1.8vw 2vw;
		}
		&__svg {
			width: 3.2vw;
			height: 2.6vw;
		}
		&__favorites-btn-text {
		    margin-left: 2vw;
		}
		&__manager {
		    border-radius: 3vw;
		    padding: 9vw 6vw;
		}
		&__manager-img {
		    width: 28vw;
		    height: 28vw;
		    margin: 0 5vw 0 0;
		}
		&__manager-title {
		    font-size: 3.6vw;
		    line-height: 4vw;
		    margin: 0 0 4vw;
		}
		&__manager-name {
		    font-size: 2.8vw;
		    line-height: 3.2vw;
		    margin: 0 0 4vw;
		}
		&__manager-btns-wrapper > :nth-child(n) {
		    margin-right: 3vw;
		}
		&__manager-email-btn, &__manager-whats-app-btn {
		    padding: 0 5vw;
		}
	}


	.footer {
		font-size: 2vw;
		line-height: 2.6vw;
		.container {
			padding-top: 9.3vw;
			padding-bottom: 9.3vw;
		}
	}
	.footer-left-part {
		margin: 0 0 4.3vw;
	}
	.footer-logo-wrapper {
		width: 20.3vw;
		height: 6.5vw;
		margin: 0 0 4.3vw;
	}
	.footer-logo-link {
		height: 6.5vw;
	}
	.footer-logo {
		width: 20.3vw;
		height: 6.5vw;
	}
	.footer-logo-text-part {
		font-size: 2vw;
		line-height: 2.1vw;
		margin-left: 8.6vw;
		&::before {
			height: 7.1vw;
			left: -4.4vw;
			top: -1.4vw;
		}
	}
	.footer-navigation {
		width: 65vw;
		margin: 0 0 4.3vw;
		&__item {
			font-size: 2vw;
			line-height: 2vw;
		}
	}
	.footer-phone-wrapper {
		top: 0.71vw;
		width: 27.1vw;
		.phone-number {
			font-size: 2.6vw;
			line-height: 2.6vw;
		}
		.call-order-button {
			margin: 1vw 0 0 4.3vw;
			font-size: 1.7vw;
			line-height: 1.7vw;
			&::before {
				width: 1.3vw;
				height: 1.3vw;
				top: 0.3vw;
			}
		}
	}
}